:root {
  --font-color-grey: #4c5866;
  --font-color-gold: #ffe401;
  --icon-color: #466398;
  --color-blue: #128afa;
  --btn-background: #425c8b;
  --btn-hover: #33495d;
  --blur-val: blur(10px);
  --general-background-color: #eaeff5;
  --blue-shadow: 0px 0px 8px rgba(40, 135, 200, 0.8);
  --triangle-background: repeating-linear-gradient(
      60deg,
      rgba(190, 242, 255, 0.3),
      transparent 35px
    ),
    repeating-linear-gradient(180deg, transparent, rgba(108, 230, 255, 0.3) 30px),
    repeating-linear-gradient(120deg, rgba(16, 179, 215, 0.3), transparent 46px);
}
