@font-face {
  font-family: "iconfont"; /* Project id 4542225 */
  src: url('iconfont.woff2?t=1715409258999') format('woff2'),
       url('iconfont.woff?t=1715409258999') format('woff'),
       url('iconfont.ttf?t=1715409258999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e602";
}

.icon-write:before {
  content: "\e612";
}

.icon-time:before {
  content: "\eb2a";
}

.icon-exclamation-triangle:before {
  content: "\efb4";
}

.icon-exclamation-circle:before {
  content: "\efb5";
}

.icon-info-circle:before {
  content: "\f02b";
}

.icon-lightbulb:before {
  content: "\f037";
}

.icon-tag:before {
  content: "\e885";
}

.icon-bilibili:before {
  content: "\e75c";
}

.icon-github:before {
  content: "\e761";
}

.icon-tw:before {
  content: "\e773";
}

.icon-weibo:before {
  content: "\e776";
}

