@font-face {
  font-family: "iconfont"; /* Project id 4542225 */
  src: url('iconfont.woff2?t=1719369583369') format('woff2'),
       url('iconfont.woff?t=1719369583369') format('woff'),
       url('iconfont.ttf?t=1719369583369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-netease_music:before {
  content: "\e76a";
}

.icon-qq:before {
  content: "\e76c";
}

.icon-coolapk:before {
  content: "\E760";
}

.icon-reddit:before {
  content: "\e76d";
}

.icon-wechat:before {
  content: "\e775";
}

.icon-arrow:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e602";
}

.icon-tag:before {
  content: "\e885";
}

.icon-bilibili:before {
  content: "\e75c";
}

.icon-github:before {
  content: "\e761";
}

.icon-tw:before {
  content: "\e773";
}

.icon-weibo:before {
  content: "\e776";
}

.icon-continue:before {
  content: "\1112";
}

.icon-stop:before {
  content: "\1111";
}

.icon-downarrow:before {
  content: "\E802";
}

.icon-pinned:before {
  content: "\E777";
}

.icon-time:before {
  content: "\E778";
}
